apiVersion: batch/v1
kind: Job
metadata:
  name: strapi-db-init
  namespace: strapi
spec:
  backoffLimit: 3
  template:
    spec:
      serviceAccountName: default
      restartPolicy: Never
      containers:
        - name: db-init
          image: postgres:16
          env:
            - name: PGPASSWORD
              value: "YourSecurePassword123!"
          command:
            - /bin/sh
            - -c
            - |
              psql -h ameciclo-postgres.postgres.database.azure.com \
                -U psqladmin \
                -d postgres \
                -c "CREATE DATABASE IF NOT EXISTS strapi;" && \
              echo "Database created successfully"

