apiVersion: v1
kind: Secret
metadata:
  name: strapi-db
  namespace: strapi
type: Opaque
stringData:
  host: "ameciclo-postgres.postgres.database.azure.com"
  port: "5432"
  database: "strapi"
  username: "psqladmin"
  password: "YourSecurePassword123!"

