# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Docker stack environment files
stacks/**/.env
!stacks/kestra/.env

# Helm chart dependencies
helm/charts/*/charts/
helm/charts/*/Chart.lock
