apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kong
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.konghq.com
    chart: kong
    targetRevision: 2.52.0
    helm:
      values: |
        image:
          repository: kong
          tag: "3.9"

        # Kong configuration
        env:
          database: postgres
          pg_host: ameciclo-postgres.privatelink.postgres.database.azure.com
          pg_port: 5432
          pg_user: psqladmin
          pg_database: kong
          # SSL configuration for PostgreSQL
          pg_ssl: "on"
          pg_ssl_verify: "on"
          # Kong admin settings
          admin_listen: "0.0.0.0:8001"
          admin_gui_listen: "0.0.0.0:8002"
          admin_gui_url: "http://10.20.1.4:8002"
          proxy_listen: "0.0.0.0:8000, 0.0.0.0:8443 ssl"
          log_level: info

        # Custom environment variables with secret reference
        customEnv:
          KONG_PG_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: kong-postgres-secret
                key: password

        # Disable ingress controller
        ingressController:
          enabled: false

        # Service configuration - using NodePort for K3s without LoadBalancer
        proxy:
          type: NodePort
          ports:
            http:
              containerPort: 8000
              servicePort: 8000
            https:
              containerPort: 8443
              servicePort: 8443

        admin:
          type: NodePort
          ports:
            http:
              containerPort: 8001
              servicePort: 8001

        manager:
          type: NodePort
          ports:
            http:
              containerPort: 8002
              servicePort: 8002

        # Resource limits
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi

        # Replica count
        replicaCount: 1

        # Migrations
        migrations:
          preUpgrade: true
          postUpgrade: true
  destination:
    server: https://kubernetes.default.svc
    namespace: kong
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
