apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kong

# Resources to deploy
resources:
  - namespace.yaml
  - secret.yaml
  - service-admin.yaml
  - ingress-admin.yaml
  - ingress-manager.yaml

# Common labels applied to all resources
commonLabels:
  app.kubernetes.io/name: kong
  app.kubernetes.io/instance: kong
  app.kubernetes.io/managed-by: argocd
