---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: strapi-data
  namespace: strapi
  labels:
    app.kubernetes.io/name: strapi
    app.kubernetes.io/part-of: strapi
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
