apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-dashboard-tailscale
  namespace: kube-system
  annotations:
    tailscale.com/funnel: "false"
spec:
  ingressClassName: tailscale
  tls:
    - hosts:
        - traefik
  rules:
    - host: traefik
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: traefik
                port:
                  number: 9000
