apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-demo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Ameciclo/groundwork.git
    targetRevision: main
    path: helm/charts/nginx-demo
    helm:
      releaseName: nginx-demo
      values: |
        replicaCount: 2
        image:
          repository: nginx
          tag: "1.25-alpine"
        ingress:
          enabled: true
          className: "tailscale"
          hosts:
            - host: nginx-demo.armadillo-hamal.ts.net
              paths:
                - path: /
                  pathType: Prefix
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true

