apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: zitadel-secrets
  namespace: zitadel
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: infisical-machine-identity
        secretNamespace: zitadel
      secretsScope:
        projectId: "2c6394a4-3352-49f1-86fb-634249e3c7cb"
        envSlug: "prod"
        secretsPath: "/"
  resyncInterval: 60
  managedKubeSecretReferences:
    - secretName: zitadel-db-password
      secretNamespace: zitadel
      creationPolicy: "Owner"
      template:
        data:
          DATABASE_PASSWORD: "{{ .ZITADEL_DATABASE_PASSWORD }}"
          ZITADEL_DATABASE_POSTGRES_USER_PASSWORD: "{{ .ZITADEL_DATABASE_PASSWORD }}"
          ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD: "{{ .ZITADEL_DATABASE_PASSWORD }}"
    - secretName: zitadel-masterkey
      secretNamespace: zitadel
      creationPolicy: "Owner"
      template:
        data:
          masterkey: "{{ .ZITADEL_MASTERKEY }}"

