apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kong
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.konghq.com
    chart: kong
    targetRevision: 2.52.0
    helm:
      releaseName: kong
      values: |
        image:
          repository: kong
          tag: "3.9"
        env:
          database: postgres
          pg_host: ameciclo-postgres.privatelink.postgres.database.azure.com
          pg_port: 5432
          pg_user: psqladmin
          pg_database: kong
          pg_ssl: "on"
          pg_ssl_verify: "on"
          admin_listen: "0.0.0.0:8001"
          admin_gui_listen: "0.0.0.0:8002"
          admin_gui_url: "https://kong-manager.armadillo-hamal.ts.net"
          proxy_listen: "0.0.0.0:8000, 0.0.0.0:8443 ssl"
          log_level: info
        customEnv:
          KONG_PG_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: kong-postgres-secret
                key: password
        ingressController:
          enabled: false
        proxy:
          type: LoadBalancer
          loadBalancerClass: tailscale
        replicaCount: 1
        migrations:
          preUpgrade: true
          postUpgrade: true
  destination:
    server: https://kubernetes.default.svc
    namespace: kong
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
